APP_ENV=testing
APP_DEBUG=true
APP_KEY=kjcndjjksddwdwdw
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=webform
DB_USERNAME=root
DB_PASSWORD=1234
CACHE_DRIVER=file
QUEUE_DRIVER=sync
MAIL_DRIVER=array
MAIL_FROM_ADDRESS=donotreply@sf.gov
MAIL_REPLYTO_ADDRESS=donotreply@sf.gov
