	html,
	body {
		height: 100%;
	}

	body {
		padding-bottom: 10px;
	}

	.container-login {
		background:#222 url(/assets/images/bg4.jpg) no-repeat center center;
		background-size: 100% 100%;
		min-height: 100%;
	}

	.container-login .row {
		margin-top: 6em;
	}

	.container-login header,
	.container-login h1 {
		font-size: 2em;
		color: #fff;
		text-shadow: 0 0 18px #000;
	}

	.container-login h2 {
		margin-top: 0;
	}

	.container-login .panel {
		padding: 2em;
	}

			h1 {
				color:#333;
			}
		  .header {
			background:#428bca;
			color:#fff;
			text-align:center;
			font-size:24px;
			padding:1em 0;
			margin-bottom:1em;
		  }
		  .floatleft {
			float:left;
		  }
		  .floatright {
			float:right;
		  }
		  .clear {
			clear:both;
		  }
      #SFDSWFB-components{
        min-height: 600px;
        margin-top: 5px;
      }
      #SFDSWFB-target{
        min-height: 200px;
        border: 1px solid #ccc;
        padding: 5px;
		transition: height .3s;
		overflow: hidden;
      }
	  #SFDSWFB-target .form-group {
		width:100%;
		margin-left:0;
	  }
      #SFDSWFB-target .component{
        border: 1px solid #fff;
      }
      #SFDSWFB-target .floatleft, #SFDSWFB-target .floatright{
		width:45%;
	  }
      #SFDSWFB-temp{
        width: 500px;
        background: white;
        border: 1px dotted #ccc;
        border-radius: 10px;
      }
	  .popover {
		  min-width:245px;
	  }
      .popover-content form {
        margin: 0 auto;
        width: 213px;
      }
      .popover-content form .btn{
        margin-right: 10px
      }
	  .popover-content select {
		border: 1px solid #ccc;
		height: 34px;
		padding: 6px 12px;
		width: 100%;
		border-radius:3px;
		margin-bottom: 1em;
	  }

	  .popover-content select.showHide {
		width: 50%;
	  }

      #SFDSWFB-snippet{
        min-height: 250px;
      }

      #SFDSWFB-source{
        min-height: 100px;
      }
	  
	  .form-horizontal .component {
	    padding:0 17px
	  }
	  
	  .form-horizontal .control-label {
	    text-align:left;
		padding-bottom:5px;
	  }

	  .tabbable li.active a:focus {
	    outline: none;
	  }
	  
	  .form-section {
		padding-bottom: 1em;
		margin-bottom: 1em;
		border-bottom: 1px solid #aaa;
	  }
	  hr.and:before {
		content: "&";
		position: relative;
		left: calc(45%);
		top: -12px;
		background: #fff;
		width: 24px;
		color:#bbb;
		display:block;
		text-align:center;
	  }
	  .accordion-header {
		font-size:1.5em;
		border-bottom:1px solid #eee;
		margin:1em 0;
	  }
	  .clickMenu {
		display:block;
		float:right;
		width:auto;
		text-align:left;
		margin-top:1.5em;
		position:relative;
		color:#aaa;
	  }
	  .clickMenu > ul {
		  margin-top: 10px;
	  }
	  h2 {
		  margin-top:1em;
		  margin-bottom:32px;
	  }
	  .clickMenu li {
		display:inline-block;
		padding:.5em 1em;
		color:#428bca;
		cursor:pointer;
	  }
	  .clickMenu li:hover {
		background:#eee;
		color:#2a6496;
	  }
.tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
	     .tt-hint {
	   width: 396px;
	   height: 30px;
	   padding: 8px 12px;
	     font-size: 24px;
	     line-height: 30px;
	   border: 2px solid #ccc;
	       border-radius: 8px;
	   outline: none;
 }

.tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
 }

.tt-hint {
	   color:#999;
 }

.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
	   width: 422px;
  margin-top: 12px;
	   padding: 8px 0;
	     background-color: #fff;
	     border: 1px solid #ccc;
	       border: 1px solid rgba(0, 0, 0, 0.2);
	     border-radius: 8px;
	     box-shadow: 0 5px 10px rgba(0,0,0,.2);
 }

.tt-suggestion {
	   padding: 3px 20px;
  font-size: 18px;
	     line-height: 24px;
 }

.tt-suggestion.tt-cursor, .tt-suggestion:hover { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
	   color: #fff;
  background-color: #0097cf;
  cursor: pointer;
 }

.tt-suggestion p {
	   margin: 0;
 }
	.condition, .calculation {
		position:relative;
	}
	.fa-minus-circle.conditionIcon {
		position:absolute;
		right:-1.2em;
		font-size:1.5em;
		color:#eee;
		cursor:pointer;
	}
	.fa-minus-circle.conditionIcon:hover {
		color:#aaa;
	}
	.condition, .calculation {
		border-bottom:1px solid transparent;
	}
	.condition:hover, .calculation:hover {
		border-bottom:1px solid #000;
	}

	h5 {font-weight:bold}
	.modal .close {
		position:absolute;
		top:15px;
		right:15px;
	}

#SFDSWFB-target .form-group {position:relative}
#SFDSWFB-target .form-group.component .fa-times-circle {display;block;position:absolute;top:0;right:0;font-size:1.5em;color:#ccc;cursor:pointer;z-index:99}

/* specific to editor page (pulling out inline styles) */
.header > div {display:block;max-width:1140px;text-align:right;margin:auto}
.header > div > a {display:block;background:#fff;width:232px;float:left;position:absolute;top:0px;box-shadow:0 0 10px #888}
.welcomeBack {margin-top:15vh}
.welcomeBox {text-align:center;padding:4em;margin:2em;border:1px solid #ddd;border-radius:5px}
.forms a.btn {margin-bottom:3px}
.text-muted {padding:2em 0}
.contact .fa-spin {font-size:2em;color:#ddd}
.addConditional {padding-top:1em}
.addCalculation {padding-top:1em}
legend {padding: 2px 0}
#SFDSWFB-target .form-group > label:after {padding-left:1em;font-size:.8em;content:"(optional)"}
#SFDSWFB-target .form-group[data-required=true] > label:after {content:""}
#SFDSWFB-target .form-group[data-formtype=m11] > label:after {content:""}
#SFDSWFB-target .popover .form-group > label:after {content:""}
#SFDSWFB-components .form-group[data-formtype=m14] {visibility:hidden;height:0px}