body {
  background: #FFFFFF;
}

#SFDSWF-Container {
  padding: 2em 5em;
}

#SFDSWFB-legend {
  position: relative !important;
  height: auto;
  width: auto;
  font-size: 3em;
}

.form-group {
  position: relative;
}

.is-selected-in-editor::before {
  position: absolute;
  background: rgba(169, 214, 234, 0.4);
  border: 2px solid rgba(169, 214, 234, 0.6);
  border-radius: 4px;
  content: "";
  top: -1rem;
  bottom: -1rem;
  left: -1.5rem;
  right: -1.5rem;
  z-index: -1;
}

.is-selected-in-editor p:last-of-type,
.is-selected-in-editor h1:last-of-type,
.is-selected-in-editor h2:last-of-type,
.is-selected-in-editor h3:last-of-type {
  margin-bottom: 0;
}

