@import url('/assets/css/dropzone.css');

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label,
legend {
	display: block;
}

.field-legend:after,
.field-wrapper:after,
.form-group:after {
	display: table;
	content: "";
	clear: both;
}

input,
select,
textarea {
	width: 100%;
}

input[type="checkbox"],
input[type="radio"],
input[type="checkbox"] + label,
input[type="radio"] + label {
	margin: 0 0 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	margin-right: 1rem;
	width: auto;
}

.help-text {
	margin: 0.5rem 0 0;
}

.help-block:empty,
.help-text:empty {
	margin: 0;
}

.help-block ul {
	margin: 0;
}

.help-block .list-unstyled {
	padding: 0;
}

.has-error .help-block {
	color: red;
}

.form-section {
	display: none;
}

.form-section.active {
	display: block;
}

.form-section-prev,
.form-section-next,
.form-section-submit {
	margin-top: 1.5rem;
}

.form-section-prev {
	float: left;
}

.form-section-next,
.form-section-submit {
	float: right;
}
