body {
	background: #fff;
}

#SFDSWF-Container {
	padding: 1rem;
}

.hero-banner {
	padding-top: 0 !important;
}

.is-selected-in-editor::before {
	position: absolute;
	background: rgba(169, 214, 234, 0.4);
	border: 2px solid rgba(169, 214, 234, 0.6);
	border-radius: 8px;
	content: "";
	top: -1rem;
	bottom: -1rem;
	left: -1.5rem;
	right: -1.5rem;
	z-index: -1;
}

.is-selected-in-editor p:last-of-type,
.is-selected-in-editor h1:last-of-type,
.is-selected-in-editor h2:last-of-type,
.is-selected-in-editor h3:last-of-type {
	margin-bottom: 0;
}

#SFDSWFB-admin {
	position: fixed;
	bottom: 0;
	right: 0;
	border: 2px solid #1c3e57;
	border-width: 2px 2px 0;
	border-radius: 8px 8px 0 0;
	text-align: right;
}

#SFDSWFB-admin .header {
	padding: 1em;
	cursor: pointer;
}

#SFDSWFB-admin .content {
	padding: 1em;
}

.displayOverride {
	display: block !important;
}

