@import 'variables';

*,
*:before,
*:after {
  box-sizing: border-box;
}


html,
body {
  height: 100%;
}

body {
  padding-bottom: 10px;
}

.login {
  background: #222 url(/assets/images/bg4.jpg) no-repeat center center;
  background-size: 100% 100%;
  min-height: 100%;

  .row {
    margin-top: 6em;
  }

  header,
  h1 {
    font-size: 2em;
    color: $white;
    text-shadow: 0 0 18px #000;
  }

  h2 {
    margin-top: 0;
  }

  .panel {
    padding: 2em;
  }
}

/* Utility classes */

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.clear {
  clear: both;
}

/* Basic elements */

h1 {
  color: #333;
}

h2 {
  margin-top: 1em;
  margin-bottom: 32px;
}

h5 {
  font-weight: bold;
}

legend {
  padding: 2px 0;
}

/* Forms */

.form-horizontal {
  .component {
    padding: 0 17px;
  }

  .control-label {
    text-align: left;
    padding-bottom: 5px;
  }
}

.form-section {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #aaa;
}

/* Modals */

.modal .close {
  position: absolute;
  top: 15px;
  right: 15px;
}

/* App header */

.header-container {
  display: flex;
  max-width: 1140px;
  text-align: right;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

.header {
  background: $slate-blue;
  color: $white;
  text-align: center;
  padding: 0.5rem 0;

  button {
    color: $white;
    font-size: 2rem;
    font-weight: normal;
    padding: 0;
    border: 0;
    background: transparent;
  }
}

.header-sign-out {
  float: right;
  margin-left: 2em;
}

/* Welcome page */

.welcomeBack,
.welcomeBox {
  margin-top: 2em;
}

.welcome-alt-text {
  color: $light-slate-blue;
  margin: 0.5em 0 2em;
}

.start-form {
  font-size: 1.25em;
  text-align: left;
  display: block;
  margin-bottom: 1em;
}

.start-form strong,
.start-form span {
  display: block;
}

.start-form span {
  color: $light-slate-blue;
  font-size: 0.75em;
}

.text-muted {
  padding: 2em 0;
}

.fa-circle-notch {
  color: $grey-4;

  .forms & {
    font-size: 2em;
  }
}

/* Lefthand pane */

.tabbable li.active a:focus {
  outline: none;
}

#SFDSWFB-components {
  min-height: 600px;
  margin-top: 5px;

  .form-group[data-formtype=m14] {
    visibility: hidden;
    height: 0px;
  }
}

#SFDSWFB-snippet {
  /* Embed code */
  min-height: 250px;
}

#SFDSWFB-source {
  /* Under "Debug Info" */
  min-height: 100px;
}

/* Preview pane */

#SFDSWFB-target {
  min-height: 200px;
  border: 1px solid $grey-4;
  padding: 5px;
  transition: height .3s;

  .form-group {
    width: 100%;
	  max-width: 525px;
    margin-left: 0;
    position: relative;

    > label:after {
      padding-left: 1em;
      font-size: .8em;
      content: "(optional)";
    }
  }

  .form-group[data-required=true],
  .form-group[data-formtype=m11],
  .popover .form-group {
    > label:after {
      content: "";
    }
  }

  .form-group.component .fa-times-circle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: $grey-4;
    cursor: pointer;
    z-index: 99
  }

  .component {
    border: 1px solid $white;
  }

  .floatleft,
  .floatright {
    width: 45%;
    margin-right: 5%;
  }
}

/* "Ghost" field when dragging inputs */
#SFDSWFB-temp {
  width: 500px;
  background: white;
  border: 1px dotted $grey-4;
  border-radius: 10px;
}


/* "Edit field" popovers */

.accordion-header {
  font-size: 1em;
  border: 0;
  font-weight: bold;
  background: #e1f3f8;
  color: $slate-blue;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0 1rem;
  // Prevent the header from overlapping with the panel border
  width: calc(100% - 1px);
}

.accordion-section {
  clear: both;
  margin-bottom: 1em;

  .help-block {
    font-size: 0.93em;
  }

  .form-control {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 1rem;
  }

  .floatleft,
  .floatright {
    width: 45%;
    margin-right: 5%;
  }
}

.accordion-markup {
  margin-bottom: 5rem;
}

.option-attribute,
.checkboxes-attribute,
.radios-attribute {
  textarea {
    height: 12rem;
  }
}

.popover {
  min-width: 245px;
}

.popover-content {
  form {
    margin: 0 auto;
    width: 213px;

    .btn {
      margin-right: 10px;
    }
  }

  select {
    border: 1px solid $grey-4;
    height: 34px;
    padding: 6px 12px;
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1em;

    &.showHide {
      width: 50%;
    }
  }
}

.fa-minus-circle.conditionIcon {
  position: absolute;
  right: -1.4em;
  font-size: 1.5em;
  color: #777;
  cursor: pointer;

  &:hover {
    color: #555;
  }
}

.condition,
.calculation {
  position: relative;
  padding: 1rem;
  margin: 1rem 0;
  background: #f7f7f7;
  border: 1px solid #eee;
  border-radius: $radius;

  .form-control {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.firstCalculation {
  margin-bottom: 0.5em;
}

.conditional,
.calculationContainer {
  width: 90%;
  select,
  input {
    margin-bottom: 0.5em;
  }
}

.firstConditional,
.multipleConditional {
  margin-bottom: 0.5rem;

  span {
    display: inline-block;
    height: 34px;
    padding: 6px;
  }
}

hr.and::before {
  content: "&";
  position: relative;
  left: calc(45%);
  top: -12px;
  background: $white;
  width: 24px;
  color: $grey-5;
  display: block;
  text-align: center;
}


/* Form-wide action menu (clone, delete, etc.) */

.clickMenu {
  display: block;
  float: right;
  width: auto;
  text-align: left;
  margin-top: 1.5em;
  position: relative;
  color: $grey-5;

  > ul {
    margin-top: 10px;
  }

  li {
    display: inline-block;
    padding: .5em 1em;
    color: $bright-blue;
    cursor: pointer;

    &:hover {
      background: $grey-3;
      color: #2a6496;
    }
  }
}

/* Typeahead styles (for autofilling name attributes) */

.tt-query,
.tt-hint {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  width: 396px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid $grey-4;
  border-radius: 8px;
  outline: none;
}

.tt-query {
  /* UPDATE: newer versions use tt-input instead of tt-query */
  box-shadow: inset 0 1px 1px rgba($black, 0.075);
}

.tt-hint {
  color: $grey-5;
}

.tt-menu {
  /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: $white;
  border: 1px solid $grey-4;
  border: 1px solid rgba($black, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba($black, 0.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;

  &.tt-cursor,
  &:hover {
    /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: $white;
    background-color: #0097cf;
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

/* New refactor CSS, needs cleanup */
.header-container {
  max-width: none;
  padding: 0 1rem;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

$editorHeight: calc(100vh - 4rem);

.editorContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  height: $editorHeight;
  overflow: hidden;
}

.save-buttons {
  position: fixed;
  bottom: 0;
  background: #fff;
  box-shadow: 0 -1px 3px rgba($black, 0.2);
  padding: 0.5rem;
  width: calc(20% - 1px);
  left: 20%;
}

.leftPanel,
.middlePanel,
.rightPanel-preview-wrapper {
  position: relative;
  height: $editorHeight;
  overflow: scroll;
}

.leftPanel,
.middlePanel {
  box-shadow: inset -1px 0 0 0 $grey-5;
}

.leftPanel {
  width: 20%;
  max-width: 30%;
  min-width: 25rem;
  align-self: flex-start;
}

.middlePanel {
  width: 20%;

  textarea {
    resize: vertical;
  }
}

.rightPanel {
  width: 60%;
  min-width: 320px;
  max-width: 80%;
  display: flex;
  flex: auto;
  background: $grey-2;
  border-left: 1px solid $grey-4;
  padding: inherit 2.5%;
}

.rightPanel-blank {
  flex: 0 0 auto;
  max-width: calc(100% - 320px);
}

.rightPanel-preview-wrapper {
  width: 100%;
  min-width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.rightPanel-preview {
  display: flex;
  height: 100%;
  justify-content: center;
}

.rightPanel-preview-pane {
  width: 95%;
  height: 95%;
  margin: 2.5%;
  margin-left: 0;
  background: $white;
  border: 1px solid $grey-4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  position: relative;
  overflow: hidden;

  &::before {
    position: absolute;
    content: "Loading";
    color: $grey-5;
    font-size: 2rem;
    text-align: center;
    width: 100%;
    top: 50%;
  }

  iframe {
    align-self: flex-end;
    flex-grow: 1;
    border: 0;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
  }
}

.panel-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0.5rem 1rem;
  background: rgba($slate-blue, 0.03);

  button {
    display: inline-block;
    padding: 0.5em;
    border-radius: $radius;
    border: 1px solid $bright-blue;
    color: $bright-blue;
    background: $white;
    font-size: 0.8em;
    margin-left: 0.5em;
  }
}

.panel-content {
  min-height: calc(100vh - 12.5rem);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.leftPanel .panel-content,
.middlePanel .accordion {
  padding-left: 1rem;
  padding-right: 1rem;
}


.splitter {
  width: 10px;
  flex: 0 0 auto;
  cursor: col-resize;
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    left: 4px;
    width: 2px;
    height: 100%;
    background: #777;
    content: ""
  }
}


#SFDSWFB-list {
  overflow: scroll;
  width: 100%;

  a {
    display: inline-block;
  }

  .itemCount {
    display: inline-block;
    color: $grey-4;
    padding-right: 0.5em;
  }

  > div {
    display: flex;
    align-items: center;
  }

  .item {
    padding: 0.375em;
    width: calc(100% - 5em);
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover,
    &.selected {
      background-color: $blue-2;
    }

    &.selected.moving,
    &.selected.moving:hover {
      color: $light-slate-blue;
    }

    &.spacer {
      height: 1.5em;
      width: 100%;
      text-align: center;
      color: $grey-4;

      &:hover,
      &.selected {
        background-color: $bright-blue;
        color: $white;
      }
    }
  }

  &.moving .item.spacer {
    position: relative;
    &::after {
      position: absolute;
      width: 100%;
      top: 1px;
      left: 0;
      content: "Move field here";
      background: $white;
    }
    &:hover {
      &::after {
        background: $bright-blue;
        color: $white;
      }
    }
  }

  .fa-sort {
    border: 1px solid $bright-blue;
    border-radius: 5px;
    padding: 3px 6px;
  }

  .fa-times {
    margin-left: 2em;
  }

  .fa:hover {
    background: #eee;
    color: black;
    border-color: black;
  }

  .fa-sort.moving,
  .fa-sort.moving:hover {
    background: #eee;
    color: #aaa;
    border-color: #aaa;
  }
}

.col-xl-1 > a.min-hidden {
  display: none;
}

.middlePanel > div {
  display: none;
}

.field-item-group {
  padding: 0.5rem 0;
  display: block;
  border-bottom: 3px solid rgba($slate-blue, 0.3);
}

$formTypes: "c02",
            "c04",
            "c06",
            "c08",
            "d02",
            "d04",
            "d06",
            "d08",
            "d10",
            "i02",
            "i14",
            "m02",
            "m08",
            "m11",
            "m13",
            "m16",
            "s02",
            "s06",
            "s08";

.field-item {
  text-align: left;
  border: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 1.5rem center;
  color: $bright-blue;
  cursor: pointer;
  display: block;
  padding: 0.625rem 0.5rem 0.625rem 4.5rem;
  width: calc(100% - 1px);


  &:last-child {
    margin-bottom: 0;
  }

  &:hover,
  &:focus {
    background-color: rgba($bright-blue, 0.1);
  }

  &:active {
    background-color: rgba($bright-blue, 0.15);
  }



  @each $type in $formTypes {
    &[data-formtype="#{$type}"] {
      background-image: url('assets/images/field-#{$type}.svg');
    }
  }

  // Extra field types
  // Remove these styles as we remove these field types

  // City, state, and ZIP inputs
  // (should be combined with Address - see DFB-702)
  &[data-formtype="c10"],
  &[data-formtype="c14"],
  &[data-formtype="s14"] {
     background-image: url('assets/images/field-c08.svg');
  }

  // Block of HTML
  // (should be combined with Block of text - see DFB-705)
  &[data-formtype="m10"] {
     background-image: url('assets/images/field-m08.svg');
  }

  // Header 2, Header 3
  // (should be combined into a single
  // "Header" field type - see DFB-703)
  &[data-formtype="m04"],
  &[data-formtype="m06"] {
     background-image: url('assets/images/field-m02.svg');
  }

}

input, textarea {
  margin-bottom: 1em;
}

