#SFDSWF-Container {
  padding: 2em 5em;
}

#SFDSWFB-legend {
  position: relative !important;
  height: auto;
  width: auto;
  font-size: 3em;
}

.form-group {
  position: relative;
}

.is-selected-in-editor {
  &::before {
    position: absolute;
    background: rgba(66, 139, 202, 0.1);
    border: 2px solid rgba(66, 139, 202, 0.3);
    border-radius: 4px;
    content: "";
    top: -1rem;
    bottom: -1rem;
    left: -1.5rem;
    right: -1.5rem;
    z-index: -1;
  }

  p:last-of-type,
  h1:last-of-type,
  h2:last-of-type,
  h3:last-of-type {
    margin-bottom: 0;
  }
}