@import './sf-design-system/design-tokens/_colors';
@import './sf-design-system/design-tokens/breakpoints';
@import './sf-design-system/design-tokens/typography-mixins';
@import './sf-design-system/design-tokens/mixins';
@import './sf-design-system/design-tokens/variables';


body {
  background: $white;
}

#SFDSWF-Container {
  padding: 1rem;
}

.hero-banner {
  padding-top: 0 !important;
}

.is-selected-in-editor {
  &::before {
    position: absolute;
    background: rgba($blue-2, 0.4);
    border: 2px solid rgba($blue-2, 0.6);
    border-radius: $radius;
    content: "";
    top: -1rem;
    bottom: -1rem;
    left: -1.5rem;
    right: -1.5rem;
    z-index: -1;
  }

  p, h1, h2, h3 {
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}